#dataset
data/
data.zip
data_txt/
#python cache
__pycache__/
#logs 
#files_processed
utils/file_processing/
.vscode/
utils/__pycache__/
#checkpoints
# outputs/models/ 

#txtfiles

!requirements.txt

# 论文
SPIE_journal_papers__sample_manuscript_showing_style_and_formatting_specifications/

#pdfs
*PDF
#json files
*json_files

article/

outputs/
outputs_distill/
paper/

runs/
runs_all/

comparative_experiments/
sem_CKD_student_mobilefacenet.py
test-copy.py