#dataset
data/
data.zip
#python cache
__pycache__/
#logs 
#files_processed
utils/file_processing/
.vscode/
utils/__pycache__/
#checkpoints
# outputs/models/ 

#txtfiles

!requirements.txt

# 论文
article.tex

